<app-setting-user></app-setting-user>
<div class="sb2-1">
  <app-user-info></app-user-info>
  <app-menu></app-menu>
</div>
<div class="sb2-2">

  <div class="sb2-2-2">
    <ul>
      <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="active-bre"><a href="#"> Dashboard</a>
      </li>
      <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>