bookpay/.metadata/
App-Android/BookPay.iml
App-Android/
bookpay/gateway-microservices/.settings/
bookpay/gateway-microservices/target/
bookpay/prova-service-aws/
bookpay/gateway-microservices/.classpath
bookpay/gateway-microservices/HELP.md
bookpayandroid/book-pay-android.iml
bookpayandroid/local.properties
Book-Pay-Android/.gradle/
Book-Pay-Android/Book-Pay-Android.iml
Book-Pay-Android/local.properties
Book-Pay-Android/.idea/
Book-Pay-Android/app/build/
Book-Pay-Android/app/app.iml
bookpay/book-pay-prenotazione-service/mvnw
bookpay/book-pay-prenotazione-service/mvnw.cmd
bookpay/book-pay-prenotazione-service/.mvn/
